@import url(https://db.onlinewebfonts.com/c/42441faa9c7c255068f6dd0c33ca2ba5?family=SofiaPro-SemiBold);
/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights


- Line heights
DEFAULT: 1
BIG fONT: 1.1
MEDIUM: 1.5


- Letter spacing


--- 02 COLORS
-BackGround-color: #F9F7F3
- Tints:
- Primary: #FE5515 #1a1a17
- Shades: 
#323131


- Accents:
- Greys
#7e7c73



--- 05 SHADOWS


--- 06 BORDER-RADIUS
12px 
6px


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: SofiaPro-SemiBold, sans-serif;
  line-height: 1;
  /* font-weight: 400; */
  color: #555;
  overflow-x: hidden;
  position: relative;
}

/* COMMON CSS */

.flex{
  display: flex;
  align-items: center;
}

.container {
  padding: 6rem 2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.4rem 2.8rem;
  box-shadow: rgba(26, 26, 23, 0.2) 0px 4px 8px 0px;
  font-size: 1.6rem;
  color: #f9f7f3;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  background-color: #1a1a17;
}

.btn:hover,
.btn:active {
  background-color: #484845;
  transition: all 1s;
}

.btn-secondary:link,
.btn-secondary:visited {
  display: inline-block;
  padding: 1.4rem 2.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1a1a17;
  color: #1a1a17;
}


a {
  text-decoration: none;
}

h1 {
  font-family: inherit;
  font-size: 6.4rem;
  color: #1a1a17;
  line-height: 1.1;
  letter-spacing: normal;
  font-weight: bolder;
}

h1 span {
  color: #fe5515;
}

.primary-paragraph {
  font-size: 2.4rem;
  color: #7e7c73;
  font-weight: lighter;
  line-height: 1.5;
}
