@import url(https://db.onlinewebfonts.com/c/42441faa9c7c255068f6dd0c33ca2ba5?family=SofiaPro-SemiBold);

/* working on header */
.header {
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f7f3;
}

.header img {
  width: 9rem;
}

.header-nav a {
  padding-right: 2rem;
  font-family: SofiaPro-SemiBold, sans-serif;
  font-size: 1.6rem;
  color: #1a1a17;
}


