@import url(https://db.onlinewebfonts.com/c/42441faa9c7c255068f6dd0c33ca2ba5?family=SofiaPro-SemiBold);
@import url(https://db.onlinewebfonts.com/c/1572b251b0319fdd12219a000aad6196?family=SofiaPro-Black);
@import url(https://db.onlinewebfonts.com/c/052579a2b150394c09586dcc982f9548?family=SofiaPro-Medium);
@import url(https://db.onlinewebfonts.com/c/05428692254b58ccb090358a3dfecfff?family=SofiaPro-Bold);

/* ************************* */
/* WORKING ON HEADER*/
/* ************************* */
.header {
  padding: 24px 24px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f7f3;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 99;
  height: 9rem;
}

.header img {
  width: 11rem;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.header-nav a {
  font-size: 1.6rem;
  color: #1a1a17;
}

/* *************************** */
/*HERO SECTION WORKING */
/* ************************ */

.hero-section {
  padding: 16rem 2.4rem 10rem 2.4rem;
  background-color: #f9f7f3;
}

.hero {
  display: grid;
  grid-template-columns: 58fr 42fr;
}

.hero-img {
  width: 100%;
}

.hero-h1 {
  margin-top: 8rem;
  font-family: "SofiaPro-Black", sans-serif;
}

.hero-para {
  margin-top: 1.2rem;
}

.hero-btns {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

.btn-hero {
  padding: 1.3rem 2.8rem !important;
}

.btn-secondary-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0.1rem 1rem 0 0;
}

/* ****************************/
/* BRAND SECTON */
/* *************************** */

.brand-section {
  background-color: #f9f7f3;
  text-align: center;
  padding: 0 2.4rem 6.4rem 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-logo {
  filter: brightness(0);
  opacity: 30%;
}

.brands-logo {
  height: 2.8rem;
}

.brands-logo:nth-child(3),
.brands-logo:nth-child(4) {
  height: 2.4rem;
}

/* ************************ */
/* FEATURES SECTION */
/* ************************ */

.features-section {
  /* padding: 9rem 2.4rem; */
  padding: 4rem 2.4rem;
  background-color: #f9f7f3;
}

.features-logo {
  height: 13rem;
  width: 13rem;
}

.features-heading {
  margin-bottom: 2rem;
}

.features-design {
  display: grid;
  margin: 6rem 0;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.features-design img {
  width: 100%;
  border: 0.5px solid #d0d0d0;
  border-radius: 8px;
}

.features-design-text {
  position: absolute;
  padding: 2rem 3rem;
}

.features-design-text img {
  border: none;
  height: 4.5rem;
  width: 15rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.inline_block .features-btn {
  color: #1a1a17 !important;
  display: inline-block;
  margin: 1rem 1rem 0 0 !important;
  background-color: #f2f0e9;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
}

.features-btn {
  color: #1a1a17 !important;
  margin-top: 7rem !important;
  background-color: #f2f0e9;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
}

.features-bottom-text {
  display: inline-block;
  color: #1a1a17;
  font-family: "SofiaPro-Bold", sans-serif;
  font-weight: bolder;
  border-radius: 50px;
  border: 0.5px solid #d0d0d0;
  padding: 1rem 2rem;
  margin: 0 1.5rem 2rem 0;
}
