/* In media queries we dont use rem because of conflict in some browsers so, we use em and 1rem = 1em = 16px  */

/**************************/
/* BELOW 1344PX (SMALLER DESKTOPS) 1344px/16px=84em   */
/**************************/
@media (max-width: 84em) {
  .absolute {
    width: 58%;
  }
  .position-absolute {
    display: flex;
    align-items: center;
  }
}

/* /**************************/
/* BELOW 1200PX (For LandScape Tablets)  */
/***************************/

@media (max-width: 76rem) {
  html {
    font-size: 56%;
  }

  h1 {
    font-size: 5rem;
  }

  .features-btn {
    display: none;
  }

  .btn-dialog {
    display: block !important;
  }

  .absolute {
    /* font-size: 1.6rem; */
    width: 55%;
    /* margin: 0; */
  }

  .inline_block {
    display: none;
  }

  .pricing-cards {
    grid-template-columns: 1fr 1fr;
    margin-right: 8rem;
  }

  .qna-grid {
    grid-template-columns: 1fr;
  }

  .position-absolute {
    display: flex;
    align-items: center;
  }
}

/**************************/
/* BELOW 944PX (For Tablets)  */
/**************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .absolute {
    width: 50%;
  }

  h1 {
    font-size: 4.5rem;
  }

  .pricing-cards {
    margin: 0;
  }

  .grid-center {
    text-align: center;
    display: grid;
  }

  .position-absolute {
    display: flex;
    align-items: center;

  }
}

/**************************/
/* BELOW 700PX (For smaller Tablets)  */
/**************************/
@media (max-width: 44em) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero img {
    width: 95%;
  }

  .last-logo {
    display: none;
  }

  .features-logo {
    display: none;
  }

  .features-design {
    grid-template-columns: 1fr;
  }

  .absolute {
    font-size: 1.6rem;
    width: 55%;
    /* margin: 0; */
  }

  .features-btn {
    display: block;
  }

  .inline_block {
    display: none;
  }

  .inline_block {
    display: block;
  }

  .add-to {
    /* text-align: center; */
    padding: 0 8rem;
  }

  .quality-grid {
    grid-template-columns: 1fr;
  }

  .primary-paragraph {
    font-size: 2.6re;
  }
  .secondary-paragraph {
    font-size: 2rem;
  }

  .quality-bottom {
    grid-template-columns: 1fr;
  }

  .pricing-cards {
    grid-template-columns: 1fr !important;
    margin-right: 10rem;
  }

  .grid-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .footer-nav a {
    font-size: 2rem;
  }

  #btn2 {
    font-size: 2rem;
  }

  .menu-btn {
    display: block !important;
    justify-self: end;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .position-absolute {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 0px 20px 0px;
    display: none;
    flex-direction: column !important;
    justify-content: flex-start !important;
    width: 40rem;
    height: 95rem;
    position: absolute;
    align-items: flex-start;
    top: 0;
    left: 0;
    gap: 3rem;
    background-color: #fff;
    padding: 3rem 2rem;
  }

  .header-nav {
    flex-direction: column !important;
    /* margin-bottom: 1rem; */
  }
  .hide {
    display: block;
  }

  .position-absolute p a {
    width: 35rem;
    text-align: center;
  }

  .header-resp {
    display: flex !important;
    justify-content: space-between;
    width: 95%;
    align-items: center;
  }

  .header-resp p {
    font-size: 2.5rem;
    color: #7e7c73;
    font-weight: lighter;
  }

  .line3 {
    width: 100%;
    display: block !important;
  }
}

/**************************/
/* BELOW 544 PX (For Phones)  */
/**************************/

@media (max-width: 34em) {

  .hero-h1{
    font-size: 4rem !important
    
  }

  br{
    display: none;
  }
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-left: 5rem;
    gap: 2rem;
  }

  .features-btn {
    display: none !important;
  }

  .btn-dialog {
    display: block !important;
  }

  .absolute {
    font-size: 1.6rem !important;
    width: 55%;
  }

  .pricing-cards {
    margin: 0;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .make-center {
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 2;
  }
  .myDialog {
    width: 93%;
  }

  .dialog-grid,
  .dialog-grid2 {
    grid-template-columns: 1fr;
    gap: 3rem !important;
  }

  .width3 {
    width: 64%;
  }

  .width5 {
    width: 95%;
    font-size: 2rem !important;
  }

  .dialog-brand-logo {
    width: 60% !important;
  }
}
